body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: black;
  background: #ffffff;
  width: 1600px;
}
.list {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
ol,
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
.container {
  width: 1600px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

.email-h:hover,
.email-h:focus,
.email-f:hover,
.email-f:focus,
.phone-h:hover,
.phone-h:focus,
.phone-f:hover,
.phone-f:focus,
.link:hover,
.link:focus {
  color: #2196f3;
}
/*header */

.header-flex{
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
 }

.contact-link{
  display: flex;
  align-items: center;
  gap: 46px;
  margin-left: 93px;
}
.contact-list{
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 371px;
}

.logo-1h {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
  margin-left: 215px;
}
.logo-2h {
  color: #2196f3;
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: #212121;
  text-decoration: none;
}
.header {
  background-color: #ffffff;
  width: 1600px;
  height: 80px;
}
.email-h {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: #757575;
  text-decoration: none;
  display: flex;
  
}
.phone-h {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: #757575;
  text-decoration: none;
  display: flex;
 
}
/*first section */

.first-section {
  background-color: #2f303a;
}
.first-section-1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  text-align: center;
}
.first-section-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #212121;
  border: none;
  background-color: #f5f4fa
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.first-section-button :hover, 
.first-section-button :focus {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}
/*secend section */

.secend-section {
  background-color: white;
}
.second-section-1 h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: #212121;
}
.second-section-2 {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
.second-section-3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
  text-align: center;
}

/*third section  */

.third-section {
  background-color: #f5f4fa;
}

.third-section-3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
  text-align: center;
}

/*fourth section  */
.fourth-section {
  background-color: #f5f4fa;
}
.fourth-section-1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
  text-align: center;
}
.fourth-section-2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  color: #212121;
}
.fourth-section-3 {
  font-size: 16px;
  line-height: 1.17;
  color: #757575;
}

/*footer */

.logo-1f {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  text-decoration: none;
}
.logo-2f {
  color: #2196f3;
}
.fotter {
  background-color: #2f303a;
}
.email-f {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  text-decoration: none;
}
.phone-f {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  text-decoration: none;
}
.fotter-adress {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  color: #ffffff;
}

/*portfolio */

.portfolio-list-button {
  border: none;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  text-align: center;
  cursor: pointer;
}
.portfolio-list-button:hover,
.portfolio-list-button:focus {
  background: #2196f3;
  color: white;
  cursor: pointer;
}
.portfolio-card h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: #212121;
}
.portfolio-card p {
  color: #757575;
  font-size: 16px;
  line-height: 1.875;
}
.portfolio-card {
  border-width: 1px;
  border-color: #eee;
  border-style: solid;
}
